# see "man logrotate" for details
# rotate log files weekly
{{ logrotate_frequency }}

# keep 4 weeks worth of backlogs
rotate {{ logrotate_keep }}

# create new (empty) log files after rotating old ones
create

# use date as a suffix of the rotated file
dateext

# uncomment this if you want your log files compressed
compress

# RPM packages drop log rotation information into this directory
include /etc/logrotate.d

# no packages own wtmp and btmp -- we'll rotate them here
/var/log/wtmp {
    monthly
    create 0664 {{ logrotate_user }} utmp
	minsize 1M
    rotate 1
}

/var/log/btmp {
    missingok
    monthly
    create 0600 {{ logrotate_user }} utmp
    rotate 1
}

# system-specific logs may be also be configured here.
